* {
    box-sizing: border-box;
    /* font-family: 'TT Severs Trial', sans-serif; */
}

.lower-right p {
    font-family: "Manrope", sans-serif;
}

.PopUpBg {
    background: linear-gradient(180deg, rgba(255,255,255,1) 31%, rgba(35,35,182,1) 99%);
}